/*font-family: 'Raleway', sans-serif;*/

:root {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
}

li,
a {
    color: #999999;
    text-decoration: none !important;
    list-style: none !important;
    font-weight: 200;
}

#scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
}

.inner {

    display: inline-block;
    height: 100vh;
    width: 35vh;
}

.about {
    width: 40%;
    margin-top: 2vh;
    margin-left: 2vh;
    height: 96vh !important;
    background-color: #1A1A1A;
}

.about h1 {
    margin-left: 0em;
    font-size: 1in;
}

.footer {
    width: 40%;
    margin-top: 2vh;
    margin-right: 2vh;
    height: 96vh !important;
    background-color: #1A1A1A;
    vertical-align: top;
    margin-left: 2px;
}

.feed {
    z-index: 900;
    transition: all 0.2s;
    vertical-align: top;
    margin-left: 2px;
}

.feed:hover {
    width: 38.5vh;
    height: 110vh;
    transition: all 0.2s;
}

.innerinner {
    margin: 0;
    padding: 4em 4em 4em 4em;
    white-space: normal;

}

/*Feed specific CSS*/

#feed1 {
    background: linear-gradient( rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0)), url(../assets/hacked.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#feed2 {
    background: linear-gradient( rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0)), url(../assets/ampere.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#feed3 {
    background: linear-gradient( rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0)), url(../assets/calhacks.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#feed4 {
    background-color: #993399;
}

#feed5 {
    background: linear-gradient( rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)), url(../assets/hacking.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}


#bottomNavLinks {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

#bottomNavLinks li {
    display: inline-block;
    padding-right: 0.3in;
}
